*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#container{
    width: 80%;
    margin: 2% auto;
    font-family: Arial, Helvetica, sans-serif;
}
#model{
    width: 30%;
    height: 700px;
    float: left;
    margin: 0 1% 1% 0;
    position: relative;
}
#model:nth-child(3n){
    margin-right: 0;
}
#model::after{
    content: "";
    display: table;
    clear: both;
}
#model img{
    width: 100%;
    height: 90%;
}
.heart{
    position: absolute;
    top: 15px;
    right: 0;
    background-color: white;
    height: 35px;
    width: 35px;
    text-align: center;
    padding-top: 3px;
}
.heart::after{
    content: "\2665";
    font-size: 25px;
}
.heart:hover{
    color: red;
}
.discount{
    position: absolute;
    bottom: 80px;
    left: 0;
    background-color: #EB0037;
    height: 17px;
    width: 30px;
    text-align: center;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding-top: 3px;
}
.sustain{
    position: absolute;
    bottom: 80px;
    left: 35px;
    background-color: #00875A;
    height: 17px;
    width: 65px;
    text-align: center;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding-top: 2px;
}
.sustain:nth-of-type(2){
    left: 0;
}
span:nth-of-type(1){
    color: #706F94;
    font-size: 12px;
}
.modelinfo h4{
    text-transform: uppercase;
}
span:nth-of-type(2){
    color: #FF2922;
    font-size: 12px;
    font-weight: bold;
}
span:nth-of-type(3){
    color: #706F94;
    text-decoration: line-through;
    font-size: 12px;
}
 /*Inizio del hover*/ 

 .imgtop{
     display: none;
     position: absolute;
     top: 0;
     left: 0;
 }
#model:hover .imgtop{
     display: block;
 }
